[submodule "specs/riscv-isa-manual"]
	path = specs/riscv-isa-manual
	url = https://github.com/riscv/riscv-isa-manual.git
[submodule "ysyxSoC"]
	path = ysyxSoC
	url = https://github.com/OSCPU/ysyxSoC.git
[submodule "am-kernels"]
	path = am-kernels
	url = https://github.com/NJU-ProjectN/am-kernels.git
[submodule "yosys-sta"]
	path = yosys-sta
	url = https://github.com/OSCPU/yosys-sta.git
